/* ************************************************************************
 * GRIDFIELD
 */

#bulkImageUploadGFButton
{
	float: right;
	margin: 0 0 0 20px;
}

/* ************************************************************************
 * UPLOAD
 */

.ss-assetuploadfield .ss-uploadfield-files .ss-uploadfield-item-editform
{
	position: relative;
	height: auto!important;
	display: block;
}

li.ss-uploadfield-item .ss-uploadfield-item-editform
{
	padding: 10px;
}

li.ss-uploadfield-item.template-download .imgPreview
{
	position: absolute;
	top: 10px;
	right: 10px;
}

#BulkImageUploadField .ss-uploadfield-item-info.updated
{
	background-color: #a4ca3a;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4ca3a), color-stop(100%, #59781D));
	background-image: -webkit-linear-gradient(top, #a4ca3a 0%, #59781D 100%);
	background-image: -moz-linear-gradient(top, #a4ca3a 0%, #59781D 100%);
	background-image: -o-linear-gradient(top, #a4ca3a 0%, #59781D 100%);
	background-image: -ms-linear-gradient(top, #a4ca3a 0%, #59781D 100%);
	background-image: linear-gradient(top, #a4ca3a 0%, #59781D 100%);
}

#BulkImageUploadField .ss-uploadfield-item-info.dirty
{
	background-color: #f2ba11;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2ba11), color-stop(100%, #df6e00));
	background-image: -webkit-linear-gradient(top, #f2ba11 0%, #df6e00 100%);
	background-image: -moz-linear-gradient(top, #f2ba11 0%, #df6e00 100%);
	background-image: -o-linear-gradient(top, #f2ba11 0%, #df6e00 100%);
	background-image: -ms-linear-gradient(top, #f2ba11 0%, #df6e00 100%);
	background-image: linear-gradient(top, #f2ba11 0%, #df6e00 100%);
}

#BulkImageUploadField .ss-uploadfield-item-status.updated
{
	color: #3b8716;
}
#BulkImageUploadField .ss-uploadfield-item-status.dirty
{
	color: #f25000;
}