.cms table.ss-gridfield-table 
{
  tr.bulkManagerOptions
  {
    th.bulkmanagerselect
    {
      text-align: center;

      input
      {
        margin-left: 0;
      }
    }

    .title
    {
      margin: 0 0 2px 2px;
    }

    .dropdown 
    {
      display: inline-block;
      border: none;
      box-shadow: none;

      padding: 0;
      margin: 0;

      color: #000;
      vertical-align: top;
    }

    .doBulkActionButton
    {
      .ui-button-text
      {
        padding: 6px 0 5px 2.1em; //3px 0 2px 1.05em; //

        .ui-button-text
        {
          padding: 0;
        }
      }

      .loading .ui-icon
      {
        background: transparent url(../../framework/images/network-save.gif) no-repeat 0 0;
      }
    }
  }// .bulkManagerOptions

  tbody
  {
    .col-bulkSelect
    {
      width: 25px;
      padding: 0 10px;
      text-align: center;
    }

    td a.tempDisabledEditLink
    {
      background: url('../../framework/admin/images/btn-icon/document--pencil.png') no-repeat 2px 0px;
      display: inline-block;
      width: 20px;
      height: 20px;
      text-indent: 119988px;
      overflow: hidden;
      vertical-align: middle;
      background-position: 2px 0px;
      background-repeat: no-repeat no-repeat;
    }
  }
}