@keyframes bt_fade_out {
  from {
    opacity: 1; 
  }

  to {
    opacity: 0;
  }
}

@keyframes bt_loading {
  from {
    opacity: 1; 
  }

  to {
    opacity: .25;
  }
}

@keyframes bt_fade_border {
  from {
    border-left-width: 6px; 
  }

  to {
    border-left-width: 0;
  }
}

.cms table.grid-field__table
{
  tr.bulkManagerOptions
  {
    th
    {
      text-transform: none;

      .bulkActionName
      {
        float: left;

        .form__field-holder
        {
          min-width: 200px;
          margin-left: 0;
        }

        .chosen-container
        {
          min-width: 120px;
        }

        .chosen-container-single .chosen-single
        {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .doBulkActionButton
      {
        float: left;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        height: 36px;
        line-height: 26px;
        margin-left: -1px;
        margin-right: 20px;

        img
        {
          height: 20px;
        }

        &.loading
        {
          animation: .5s bt_loading infinite alternate;
          cursor: wait;
          pointer-events: none;
        }
      }

      .message
      {
        float: left;
        clear: none;
        max-width: 100%;

        margin: 0;
        padding: 0 1.25rem;

        height: 36px;
        line-height: 34px;

        opacity: 0;
        overflow: auto;

        &.show
        {
          animation: 10s bt_fade_out;
        }

        &.static
        {
          opacity: 1;
        }
      }

      .bulkSelectAll
      {
      }
    }
  }// .bulkManagerOptions

  tbody
  {
    .col-bulkSelect
    {
      width: 25px;
      text-align: center;
    }

    .ss-gridfield-item
    {
      &.bt-deleted
      {
        opacity: .5;
      }

      &.bt-failed
      {
        border-left: 0 solid #e68288;
        animation: 10s bt_fade_border;
      }
      &.bt-updated
      {
        border-left: 0 solid #56bd59;
        animation: 10s bt_fade_border;
      }
    }
  }
}
