.cms table.grid-field__table
{
  tr.bulkManagerOptions
  {
    th
    {
      text-transform: none;

      .bulkActionName
      {
        float: left;

        .form__field-holder
        {
          min-width: 200px;
          margin-left: 0;
        }

        .chosen-container
        {
          min-width: 120px;
        }

        .chosen-container-single .chosen-single
        {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .doBulkActionButton
      {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        height: 36px;
        line-height: 26px;
        margin-left: -1px;

        img
        {
          height: 20px;
        }
      }

      .bulkSelectAll
      {
      }
    }
  }// .bulkManagerOptions

  tbody
  {
    .col-bulkSelect
    {
      width: 25px;
      text-align: center;
    }
  }
}
