name: Merge-up

on:
  # At 11:55 PM UTC, only on Friday
  schedule:
    - cron: '55 23 * * 5'
  workflow_dispatch:

jobs:
  merge-up:
    name: Merge-up
    # Only run cron on the colymba account
    if: (github.event_name == 'schedule' && github.repository_owner == 'colymba') || (github.event_name != 'schedule')
    runs-on: ubuntu-latest
    steps:
      - name: Merge-up
        uses: silverstripe/gha-merge-up@v1
